h1 {text-align:center;font-weight:bold;color:yellow;border:5px solid aqua;background:pink}
p {font-family:georgia;color: light grey;font-size:12;}
body {background-color:beige; border-style:solid; border-color:black;border-radius:20px;
     }
ul {list-style-type:none; background-color: aqua;}
ol {display:inline;border-right:3px;pink; margin-right:50px}
html {background-color:white;}
img{display: block; margin-left: auto; margin-right: auto; width: 200px;}
